.block {
  &__title {
    font-size: 25px;
    font-weight: 600;
    color: $pink;
    margin-bottom: 10px;
    line-height: 36px;

    @media only screen and (min-width: $tablet) {
      font-size: 40px;
    }
  }
  
  &__legend {
    display: block;
    font-family: $openSans;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: $grey;
  }

  &__img-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    @media only screen and (min-width: $tablet) {
      width: 668px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &.overTheMoon {
    text-align: center;
    margin-top: 77px;
    margin-bottom: 100px;

    @media only screen and (min-width: $tablet) {
      margin-top: 100px;
      margin-bottom: 135px;
    }

    .block__title-wrapper {
      margin-bottom: 77px;

      @media only screen and (min-width: $tablet) {
        margin-bottom: 100px;
      }
    }
  }

  &.pinkBlossom {
    margin-bottom: 100px;

    @media only screen and (min-width: $tablet) {
      margin-bottom: 135px;
    }
    
    .block__title {
      font-size: 20px;
      line-height: 130%;

      @media only screen and (min-width: $tablet) {
        font-size: 30px;
      }
    }

    .block__slider {
      text-align: center;
      
      @media only screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &--left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        @media only screen and (min-width: $desktop) {
          margin-bottom: 0;
        }
      }
    }
  }
  
  &.shop {
    text-align: center;
    margin-bottom: 90px;

    @media only screen and (min-width: $tablet) {
      margin-bottom: 150px;
    }

    .block__title {
      font-size: 20px;
      line-height: 130%;

      @media only screen and (min-width: $tablet) {
        font-size: 30px;
      }
    }
    
    .block__img-wrapper {
      margin-bottom: 100px;
    }
    .block__title-wrapper {
      margin-bottom: 20px;
    }
  }
  
}