.slider {
  &__container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    
    @media only screen and (min-width: $desktop) {
      margin-bottom: 60px;
      width: 80%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 80vh;
    }
  }

  // nav
  &__nav {
    padding: 12px;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    @media only screen and (min-width: $desktop) {
      position: absolute;
    }

    span {
      pointer-events: none;
      clip-path: inset(50%);
    }
  }

  &__nav:before {
    content: '';
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: $white;
    border-style: solid;
    border-width: 0 1px 1px 0;

    @media only screen and (min-width: $desktop) {
      padding: 8px;
    }
  }

  &__prev {
    transform: rotate(130deg);
    margin-left: -50px;
    left: 0;
  }

  &__next {
    transform: rotate(-45deg);
    margin-right: -50px;
    right: 0;
  }

  &__prev,
  &__next {
    cursor: pointer;
    top: 50%;
  }

  // dots
  &__dots {
    text-align: center;
    margin-top: 20px;

    &--dot {
      cursor: pointer;
      margin: 0 2px;
      display: inline-block;
      font-size: 12px;
    }
  }

  // Fading animation
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
