.header {
  /* &__logo {
    position: relative;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media only screen and (min-width: $desktop) {
      width: auto;
      height: 100%;
    }
  } */
}
