html {
  font-size: $font-size;
  font-family: $abchanelCorpo;
  background: $black;
  color: $white;
}

main {
  margin: 140px auto 0 auto;
  padding: 0 20px 72px 20px;
  width: 100%;
  max-width: 1208px;

  @media only screen and (min-width: $tablet) {
    margin: 0 auto;
  }
}

.center {
  display: flex;
  justify-content: center;
}
