// Fonts
$font-size: 14px;
$abchanelCorpo: 'abchanel-corpo', sans-serif;
$openSans: 'open-sans', sans-serif; // remplace Helvetica qui est payant

// colors
$white: #fff;
$black: #000;
$pink: #f19b9e;
$grey: #F9F9F9;

/* // Sizes
$page-width: 650px;

// Responsive
$desktop: 1025px; */
